<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calon Kandidat</title>

    <link rel="stylesheet" href="../style/calon-kandidat.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <input id="nav-toggle" type="checkbox" />
        <img
          class="logo"
          src="../assets/images/logo-web.svg"
          height="60"
          alt="logo-web"
        />
        <ul class="links">
          <li><a href="./beranda.html" class="active-nav">Beranda</a></li>
          <li>
            <a href="./calon-kandidat.html">Calon Kandidat</a>
          </li>
          <li><a href="./cara-voting.html">Cara Voting</a></li>
          <li><a href="./hasil-voting.html">Hasil Voting</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>

      <section>
        <div class="container">
          <div class="title">
            <h1>Calon Kandidat</h1>
          </div>
          <div class="kandidat-desktop">
            <div class="kandidat-card">
              <div class="foto-kandidat">
                <div class="nama-kandidat">
                  <h2>John Dodol</h2>
                  <p>Teknik Informatika 21</p>
                </div>
              </div>
              <div class="deskripsi-kandidat">
                <h2>Tentang John Dodol</h2>
                <p>
                  John Dodol adalah Mahasiswa Teknik Informatika Angkatan 21
                  yang mencalonkan diri menjadi Presiden Mahasasiswa Itera
                  Kabinetet Tahun 2023/2024. John Dodol saat ini berusia 22
                  Tahun dan beliau sangat bersemengat untuk menjadi next
                  Presiden Mahasiswa.
                </p>
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>

            <div class="kandidat-card">
              <div class="foto-kandidat">
                <div class="nama-kandidat">
                  <h2>John Dodol</h2>
                  <p>Teknik Informatika 21</p>
                </div>
              </div>
              <div class="deskripsi-kandidat">
                <h2>Tentang John Dodol</h2>
                <p>
                  John Dodol adalah Mahasiswa Teknik Informatika Angkatan 21
                  yang mencalonkan diri menjadi Presiden Mahasasiswa Itera
                  Kabinetet Tahun 2023/2024. John Dodol saat ini berusia 22
                  Tahun dan beliau sangat bersemengat untuk menjadi next
                  Presiden Mahasiswa.
                </p>
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>

            <div class="kandidat-card">
              <div class="foto-kandidat">
                <div class="nama-kandidat">
                  <h2>John Dodol</h2>
                  <p>Teknik Informatika 21</p>
                </div>
              </div>
              <div class="deskripsi-kandidat">
                <h2>Tentang John Dodol</h2>
                <p>
                  John Dodol adalah Mahasiswa Teknik Informatika Angkatan 21
                  yang mencalonkan diri menjadi Presiden Mahasasiswa Itera
                  Kabinetet Tahun 2023/2024. John Dodol saat ini berusia 22
                  Tahun dan beliau sangat bersemengat untuk menjadi next
                  Presiden Mahasiswa.
                </p>
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>
          </div>

          <div class="kandidat-mobile">
            <div class="kandidat-card-mobile">
              <div class="foto-kandidat-mobile">
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>
            <div class="kandidat-card-mobile">
              <div class="foto-kandidat-mobile">
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>
            <div class="kandidat-card-mobile">
              <div class="foto-kandidat-mobile">
                <button type="button" id="btn-lihat-detail">
                  Lihat Detail
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-nav">
          <img src="../assets/images/logo-web.svg" height="60" alt="logo-web" />
          <div class="foot-menu">
            <a href="#" class="nav-item nav-link mx-2">Beranda</a>
            <a href="#" class="nav-item nav-link mx-2">Calon Kandidat</a>
            <a href="#" class="nav-item nav-link mx-2">Cara Voting</a>
            <a href="#" class="nav-item nav-link mx-2">Hasil Voting</a>
          </div>
        </div>
        <hr />
        <div class="footer-copyright">
           &copy; 2023 HMIF ITERA. All rights reserved.
        </div>
      </footer>
    </div>
  </body>
</html>
