<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasil Voting</title>

    <link rel="stylesheet" href="../style/hasil-voting-admin.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <input id="nav-toggle" type="checkbox" />
        <img
          class="logo"
          src="../assets/images/logo-web.svg"
          height="60"
          alt="logo-web"
        />
        <ul class="links">
          <li><a href="./beranda.html">Beranda</a></li>
          <li>
            <a href="./calon-kandidat.html">Calon Kandidat</a>
          </li>
          <li><a href="./cara-voting.html">Cara Voting</a></li>
          <li>
            <a href="./hasil-voting.html" class="active-nav">Hasil Voting</a>
          </li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>

      <section>
        <div class="container-hasil">
          <div class="title">
            <h1>Hasil Suara</h1>
          </div>

          <div class="candidat-list">
            <div class="candidat">
              <div class="candidat-card">
                <div class="candidat-bg">
                  <div class="candidat-text">
                    <h2>John Dodol</h2>
                    <h3>Total Suara 51%</h3>
                  </div>
                </div>
              </div>

              <div class="candidat-card">
                <div class="candidat-bg">
                  <div class="candidat-text">
                    <h2>John Dodol</h2>
                    <h3>Total Suara 51%</h3>
                  </div>
                </div>
              </div>

              <div class="candidat-card">
                <div class="candidat-bg">
                  <div class="candidat-text">
                    <h2>John Dodol</h2>
                    <h3>Total Suara 51%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="space"></div>
      </section>

      <footer>
        <div class="footer-nav">
          <img src="../assets/images/logo-web.svg" height="60" alt="logo-web" />
          <div class="foot-menu">
            <a href="#" class="nav-item nav-link mx-2">Beranda</a>
            <a href="#" class="nav-item nav-link mx-2">Calon Kandidat</a>
            <a href="#" class="nav-item nav-link mx-2">Cara Voting</a>
            <a href="#" class="nav-item nav-link mx-2">Hasil Voting</a>
          </div>
        </div>
        <hr />
        <div class="footer-copyright">
          &copy; 2023 HMIF ITERA. All rights reserved.
        </div>
      </footer>
    </div>
  </body>

  <script src="../index.js"></script>
</html>
