body {
  background-color: #0a0d2d;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #e2ddc9;
  widht: 100%;
  top: 0;
}

.nav-menu {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6b6b6b;
}

.nav-item-active {
  background-color: #ffca07;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

header {
  background-image: url("./assets/images/image-beranda.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
}

.bg-header {
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 24rem 0 24rem;
}

.card-header h1 {
  font-size: 72px;
}

.card-header p {
  font-size: 24px;
}

#btn-vote {
  background-color: #ffca07;
  color: white;
  padding: 1rem 8rem 1rem 8rem;
  border-radius: 1rem;
  font-size: 32px;
  border: none;
  font-weight: bold;
}

#tentang-pemira {
  padding: 10rem 0;
  color: #c7c7c7;
  background-image: linear-gradient(
    350deg,
    hsl(235deg 64% 11%) 0%,
    hsl(235deg 64% 11%) 36%,
    hsl(356deg 45% 45%) 63%,
    hsl(23deg 85% 62%) 84%,
    hsl(54deg 100% 55%) 100%
  );
}

#tentang-pemira h2 {
  font-size: 48px;
}

#tentang-pemira p {
  font-size: 24px;
}

#content-tentang-pemira {
  margin: 4rem 24rem 4rem 24rem;
}

#content-tentang-pemira p {
  margin: 2rem 0 2rem 0;
}

.image-tentang {
  margin: -10rem 0 0 0;
}

#cara-voting {
  background-image: url("./assets/images/image-cara-voting.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cara-voting h2 {
  font-size: 48px;
  font-weight: bold;
}

#cara-voting iframe {
  border-radius: 1rem;
  margin: 2rem 0 0 0;
}

footer {
  background-color: #e2ddc9;
  padding: 4rem;
  color: #6b6b6b;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.foot-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
