:root {
  --jungle-green: #55a078;
  --bg-green: #2b9563;
  --mint: #f2f8f4;
  --pearl: #eadda8;
  --font-color-nav: #6b6b6b;
  --yellow: #ffca07;
  --biru: #0d0d2d;
  --black: #202020;
}

body {
  background-color: var(--bg-green);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  widht: 100%;
  top: 0;
}

.navbar-content {
  top: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar-content .navbar-brand {
  margin-left: 6rem;
}

.nav-menu {
  margin-left: auto;
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--mint);
}

.nav-item-active {
  background-color: var(--yellow);
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

header {
  background-image: url("../assets/images/image-beranda.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vw;
}

.bg-header {
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin: 0 24rem 0 24rem;
}

.card-header h1 {
  font-size: 72px;
}

.card-header p {
  font-size: 24px;
}

#btn-vote {
  background-color: var(--yellow);
  color: white;
  padding: 1rem 8rem 1rem 8rem;
  border-radius: 1rem;
  font-size: 32px;
  border: none;
  font-weight: bold;
}

#tentang-pemira {
  padding: 10rem 0;
  color: var(--mint);
  background-image: linear-gradient(
    350deg,
    hsl(235deg 64% 11%) 0%,
    hsl(235deg 64% 11%) 36%,
    hsl(356deg 45% 45%) 63%,
    hsl(23deg 85% 62%) 84%,
    hsl(54deg 100% 55%) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#tentang-pemira h2 {
  font-size: 48px;
}

#tentang-pemira p {
  font-size: 24px;
}

#content-tentang-pemira {
  margin: 4rem 24rem 4rem 24rem;
}

#content-tentang-pemira p {
  margin: 2rem 0 2rem 0;
}

#cara-voting {
  background-image: url("../assets/images/image-cara-voting.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
}

#cara-voting h2 {
  font-size: 48px;
  font-weight: bold;
}

footer {
  background-color: var(--black);
  padding: 2rem 6rem;
  color: var(--font-color-nav);
}

.footer-nav {
  display: flex;
  align-items: center;
}

.foot-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kandidat-mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }

  .navbar-content {
    background-color: transparent;
  }

  .navbar-content .navbar-brand {
    margin-left: 1rem;
  }

  .navbar-content button {
    margin-right: 1rem;
  }

  header {
    height: 150vw;
  }

  .bg-header {
    height: 150vw;
  }

  .card-header {
    padding: 12px;
  }

  .card-header h1 {
    font-size: 40px;
  }

  #btn-vote {
    font-size: 24px;
  }

  #tentang-pemira {
    padding: 4rem 0;
  }

  #tentang-pemira h2 {
    font-size: 24px;
  }

  #tentang-pemira p {
    font-size: 16px;
  }

  #content-tentang-pemira {
    margin: 1rem 2rem 1rem 2rem;
  }

  #cara-voting {
    height: 100vw;
  }

  #cara-voting h2 {
    font-size: 24px;
  }

  footer {
    padding: 2rem 1rem;
  }

  .footer-nav {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 450px) and (orientation: landscape) {
}

@media (min-width: 451px) and (max-width: 767px) {
}

@media (min-width: 451px) and (max-width: 767px) and (orientation: landscape) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
