:root {
  --jungle-green: #55a078;
  --bg-green: #2b9563;
  --mint: #f2f8f4;
  --pearl: #eadda8;
  --font-color-nav: #6b6b6b;
  --yellow: #ffca07;
  --biru: #0d0d2d;
  --black: #202020;
}

body {
  background-image: linear-gradient(
    350deg,
    hsl(235deg 64% 11%) 14%,
    hsl(268deg 48% 19%) 55%,
    hsl(302deg 51% 24%) 71%,
    hsl(323deg 66% 34%) 81%,
    hsl(335deg 72% 44%) 88%,
    hsl(337deg 76% 49%) 94%,
    hsl(328deg 99% 44%) 98%,
    hsl(322deg 100% 45%) 100%,
    hsl(315deg 100% 44%) 101%,
    hsl(306deg 89% 45%) 101%
  );
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 1% 5%;
  height: 80px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
nav .logo {
  float: left;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 0.5rem;
  font-size: 16px;
  color: #f2f8f4;
  text-decoration: none;
}
.active {
  background-color: #ffca07;
  border-radius: 0.5rem;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: white;
  margin: 12rem 0 6rem 0;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-size: 42px;
}

.kandidat-mobile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.kandidat-card-mobile {
  display: flex;
  justify-content: center;
}

.foto-kandidat-mobile {
  width: 248px;
  height: 268px;
  background-size: 248px 268px;
  background-position: center;
  background-image: url("../assets/images/foto-kandidat.svg");
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#btn-lihat-detail {
  background-color: #ffca07;
  color: #200707;
  padding: 20px 50px;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  margin: 2rem;
}

#cara-voting {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  align-items: center;
}

#cara-voting iframe {
  border-radius: 0.5rem;
  width: 800px;
  height: 457px;
}

footer {
  background-color: var(--black);
  padding: 2rem 6rem;
  color: var(--font-color-nav);
  bottom: 0;
}

.footer-nav {
  display: flex;
  align-items: center;
}

.foot-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1023px) {
  nav {
    position: fixed;
    z-index: 1;
    padding: 0 5%;
    height: 100px;
    display: flex;
    align-items: center;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  nav .logo {
    float: left;
    display: flex;
    align-items: center;
  }
  nav .links {
    position: fixed;
    float: right;
    top: 0;
    z-index: -10;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#ffca07, #ff2eea);
  }
  nav .links li {
    list-style: none;
  }
  nav .links a {
    display: block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px #ffca07;
  }
  #nav-toggle {
    position: absolute;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
  }
  @media screen and (max-width: 1023px) {
    nav .logo {
      float: none;
      width: auto;
      justify-content: center;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: -10;
      left: 0;
      right: 0;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
    nav .links a {
      font-size: 24px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
  }

  .container {
    width: 600px;
  }

  .foto-kandidat-mobile {
    width: 186px;
    height: 189px;
    background-size: 186px 189px;
  }

  #btn-lihat-detail {
    padding: 10px 35px;
  }

  #cara-voting iframe {
    width: 600px;
    height: 343px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 550px;
  }

  .foto-kandidat-mobile {
    width: 230px;
    height: 230px;
    background-size: 230px 230px;
    margin: 10px 0;
  }

  #cara-voting iframe {
    width: 530px;
    height: 300px;
  }
}

@media (min-width: 425px) and (max-width: 575px) {
  .container {
    width: 400px;
  }

  #cara-voting iframe {
    width: 390px;
    height: 221px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  body {
    overflow-x: hidden;
  }

  .container {
    width: 300px;
  }

  .title {
    margin: 8rem 0 2rem 0;
  }

  .foto-kandidat-mobile {
    width: 130px;
    height: 130px;
    background-size: 130px 130px;
    margin: 10px 0;
  }

  #btn-lihat-detail {
    padding: 4px 24px;
    margin: 1rem;
    border-radius: 8px;
  }

  #cara-voting iframe {
    width: 300px;
    height: 158px;
  }

  footer {
    padding: 2rem 1rem;
  }

  .footer-nav {
    display: none;
  }
}
